@model List<Articles>


<div class="page-main">
    <div class="main-container">
        <div class="main-wrap">

            <div class="main-section">
                <main>
                    <div class="category-container">
                        <h1>@ViewData["Title"]</h1>
                        <ul>
                            @{

                                foreach (Articles article in Model)
                                {
                                    <li style="display:block;">
                                        <h2>
                                            <a href="Article?id=@article.ArticleId">
                                                <img src="@article.ImgUrl" alt="@article.Title"/>
                                                <span>@article.LongTitle</span>
                                            </a>
                                        </h2>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </main>
            </div>

        </div>
    </div>

</div>
