<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="Serbia Calling is informative platform which allows you to be informed">
    <meta name="keywords" content="News, Politics, Economy, Industry, Sport, Business, NewsLines, Europe, Serbia">
    <meta name="rating" content="general">

    <title>SuvaLines</title>

    <!-- Include -->
    <link href="~/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/plugins/font-awesome/css/font-awesome.min.css">

    <script src="~/lib/jquery-3.2.1.min.js"></script>

    <script src="~/lib/vue/vue.js"></script>
    <script src="~/lib/vue/axios.min.js"></script>

    <script src="~/main.js"></script>

</head>
<body>

    @RenderBody()
 
</body>
</html>
