@model List<Articles>

@if (Model.Count() > 0)
{ 
    <div class="sec-block">
        <div class="sec-block-area">
            <span>News@*@Model[0].Group.Name*@</span>
        </div>
        <div class="sec-content">
            <div class="sec-line">
                @foreach (Articles article in Model)
                {
                    <h4>
                        <a href="Article?id=@article.ArticleId">
                            <img src="@article.ImgUrl" />
                            <span>@article.Title</span>
                        </a>
                    </h4>
                }
            </div>
        </div>
    </div>
}

