* { /**/
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

@font-face {
    font-family: TitiliumWebRegular;
    src: url(/libs/fonts/TItiliumWeb/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: TitiliumWebBold;
    src: url(/libs/fonts/TItiliumWeb/TitilliumWeb-Bold.ttf);
}


